body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #282c34;
  color: #abb2bf;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.icon {
  color: rgb(156, 163, 175);
  font-size: 28px;
  cursor: pointer;
}

.icon:hover {
  color: rgb(213, 221, 236)
}



h6,
h5,
h4 {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row;
}

.modal {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 22.5%;
  height: 60%;
  background-color: #3a3f4b;
  padding: 20px;
  color: #abb2bf;
  display: flex;
  justify-content: center;
  text-align: center;
}


.modal input {
  width: 80%;
  padding: 8px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #565b67;
  background-color: #282c34;
  color: #abb2bf;
  border-radius: 4px;
  box-sizing: border-box;
}

.modalError {
  color: #e06c75;
  font-size: 0.9em;
  margin: 10px;
}

.modal button {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 8px 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.modal input:focus {
  border-color: #61dafb;
  outline: none;
}

.modal form {
  width: 100%;
}

.RegistrationPage h1 {
  margin: 0px;
}

.RegistrationPage {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 35px;
  color: #ffffff;
}

.RegistrationPage p span {
  color: #47a9a0;
}